body{
    background-color: rgb(250, 245, 245);
}
.ancors a{text-decoration: none;
           letter-spacing: 2px;
         font-size: 18px;}
         #img1{width:120px;height: 100px;}
        .shade{
            border: .5px solid;
        }
      .allImg img{
          width: 80%;height: 60%;
          margin: 2px auto; padding-top:5px;
          background-color: rgb(221, 216, 216);
          border-radius: 30px 30px;
      }
      .cards{
          border:0;
          background-color: white;
      }
      #headColor{
        color: darkolivegreen;
      }