body{
    background-color: rgb(250, 245, 245);
}
.ancors a{text-decoration: none;
           letter-spacing: 2px;
         font-size: 18px;}
         #img1{width:120px;height: 100px;}
        .shade{
            border: .5px solid;
        }
        .text{
          font-family: 'Anton', sans-serif;
          font-size: 25px;
          font-weight:700;
          letter-spacing: 1px;
          color: rgb(63, 117, 86);
        }

       .allImg img{
          width: 80%;height: 60%;
          margin: 2px auto; padding-top:5px;
          background-color: rgb(243, 239, 239);
          
      } 
      .cards{
          border:0;
          background-color: white;
      }
      #headColor{
        color: darkolivegreen;
      }
      h2{
        font-family: 'Anton', sans-serif;font-size: 50px;text-transform: uppercase;letter-spacing: 2px;
        line-height: 80px; color: rgb(42, 42, 66);
      }
      .btnColor{
        background-image: linear-gradient(blue, rgb(15, 6, 27));
        font-family: sans-serif;
        padding: 15px;
        color:gainsboro;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
      }
      .btnColor:hover{color: rgb(247, 238, 238);}